<div class="mt-3 row">
    <div class="col-md-6 mt-3">
        <div class="d-flex justify-content-center">
            <div class="card w-100" (click)="goTo('/cardapio')">
                <div class="card-body text-center">
                    <p class="mt-2">Cardápio</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mt-3">
        <div class="d-flex justify-content-center">
            <div class="card w-100" (click)="goTo('/listar-combos')">
                <div class="card-body text-center">
                    <p class="mt-2">Combos</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mt-3">
        <div class="d-flex justify-content-center">
            <div class="card w-100" (click)="goTo('/auth/cadastrar-categoria')">
                <div class="card-body text-center">
                    <p class="mt-2">Gerenciar Categorias</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mt-3">
        <div class="d-flex justify-content-center">
            <div class="card w-100" (click)="goTo('/auth/cadastrar-produto')">
                <div class="card-body text-center">
                    <p class="mt-2">Gerenciar Produtos</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mt-3">
        <div class="d-flex justify-content-center">
            <div class="card w-100" (click)="goTo('/auth/cadastrar-combo')">
                <div class="card-body text-center">
                    <p class="mt-2">Gerenciar Combos</p>
                </div>
            </div>
        </div>
    </div>
</div>