.text-descricao {
    resize: none;
    width: 100%;
    border: none;
    color: black;
    background-color: none;
    background: none;
    font-size: 12px;
}

.texto-titulo {
    text-transform: uppercase;
}