/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-snackbar {
    position: relative;
    bottom: 12svh;
    background-color: white;
    color: black;
    z-index: 1000;
}

.cursor-pointer {
    cursor: pointer;
}

.espaco {
    padding-top: 12svh;
    padding-bottom: 12svh;
}

@media print {
    .nao-imprimir {
        display: none;
    }

    .espaco {
        padding-top: 0;
        padding-bottom: 0;
    }
}